<!Decotetype html>
<html>
    <head>
        <link rel="stylesheet"href="/css/style.css">

        </head>

        <body>
              {{>header}}

             <h1> {{title}}</h1>
            <img src ="/img/i1.jpg"
{{>footer}}
        </body>
</html>