<!Decotetype html>
<html>
    <head>
        <link rel="stylesheet"href="/css/style.css">
        </head>

        <body>
  {{>header}}
         <img src ="/img/i2.png">
{{>footer}}
        </body>
</html>